@import url(buy.fix.css);

.ecs-vm-detail-title {
    padding: 8px 0px
}

a:focus {
    outline: 0
}

.ecs-vm-detail {
    border: 1px solid #DDD;
    background-color: #F7F7F7
}

.ecs-vm-detail td {
    line-height: 24px;
    padding: 10px 16px
}

.ecs-vm-detail td p {
    padding: 4px 0px;
    margin: 0px
}

.ecs-vm-detail td p label {
    margin: 0px
}

.ecs-vm-detail .vm-detail-label {
    text-align: center;
    border-right: 1px solid #EEE
}

.ecs-vm-detail .vm-detail-col {
    width: 26%;
    vertical-align: top
}

.ecs-vm-detail .vm-detail-col label {
    font-weight: normal
}

.ecs-vm-detail .vm-detail-action {
    width: 22%;
    border-left: 2px solid #EEE;
    padding-left: 16px
}

.ecs-vm-detail .vm-detail-action .btn {
    margin-right: 8px
}

.ecs-vm-detail .vm-detail-action a {
    margin-right: 8px
}

.ecs-vm-detail .vm-detail-explode {
    padding: 8px 0px
}

.ecs-vm-detail .vm-detail-explode span {
    display: block;
    width: 100%;
    height: 1px;
    overflow: hidden;
    background: #DDD
}

.ecs-server-list p {
    padding: 2px 0px
}

.ecs-server-list p a:hover {
    text-decoration: none
}

.ecs-server-list .ecslist-icon-yundun {
    width: 16px;
    height: 16px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 4px
}

.ecslist-icon-os {
    width: 16px;
    height: 16px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background-image: url(images/ecs-icons.png);
    background-repeat: no-repeat;
    background-position: -130px 24px;
    vertical-align: middle
}

.ecs-icon-os-windows {
    background-position: -130px -4px
}

.ecs-icon-os-centos {
    background-position: -130px -28px
}

.ecs-icon-os-ubuntu {
    background-position: -130px -76px
}

.ecs-icon-os-debian {
    background-position: -130px -52px
}

.ecs-icon-os-linux {
    background-position: -130px -100px
}

.ecs-icon-os-redhat {
    background-position: -130px -124px
}

.ecs-icon-os-aliyun {
    background-position: -130px -148px
}

.ecs-icon-os-suse, .ecs-icon-os-opensuse {
    background-position: -130px -172px
}

.ecs-icon-os-gentoo {
    background-position: -130px -196px
}

.ecs-icon-os-coreos {
    background-position: -130px -220px
}

.ecs-icon-os-freebsd {
    background-position: -130px -245px
}

.ecs-ico-16 {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 14px;
    vertical-align: middle;
    zoom: 1;
    *display: inline
}

.ico-ecs-status-running {
    background: url(images/ecs-icons.png) -61px -4px no-repeat
}

.ico-ecs-status-outdate {
    background: url(images/ecs-icons.png) -61px -28px no-repeat
}

.ico-ecs-status-stop {
    background: url(images/ecs-icons.png) -61px -52px no-repeat
}

.ico-ecs-status-lock {
    background: url(images/ecs-icons.png) -61px -76px no-repeat
}

.ecs-texttrimmer-pen {
    width: 18px;
    height: 18px;
    font-size: 12px;
    padding: 2px;
    text-align: center;
    margin-left: 6px
}

.ecs-summary {
    padding: 16px 0px
}

.ecs-summary .label {
    color: #06c;
    font-weight: normal
}

.ecs-summary .label-default {
    background-color: #F3F3F3
}

.ecs-summary .label-default:hover {
    color: #06c;
    background-color: #FFF
}

.ecs-summary .summary-vm-total {
    font-size: 14px;
    font-weight: 500;
    background-color: #FFF;
    padding: 0 24px 0 10px;
    line-height: 40px;
    border: 1px solid #E1E6EB
}

.ecs-summary .summary-vm-total .brick-btn2-ico {
    vertical-align: middle
}

.ecs-summary .summary-region .region-box {
    border: 1px solid #ccd6e0;
    padding: 0
}

.ecs-summary .summary-region .region-box .region-titile-bar {
    border-bottom: 1px solid #ccd6e0;
    background-color: #f8f9fb;
    height: 38px
}

.ecs-summary .summary-region .region-box .region-titile-bar .region-title {
    padding: 12px 8px
}

.ecs-summary .summary-region .region-box .region-titile-bar .region-buy {
    float: right;
    width: 38px;
    height: 38px;
    border-left: 1px solid #e1e6eb
}

.ecs-summary .summary-region .region-box .region-titile-bar .region-buy .tooltip-inner {
    min-width: 86px
}

.ecs-summary .summary-region .region-box .region-titile-bar .region-buy .btn-buy {
    padding: 4px 4px;
    color: #546478;
    font-size: 26px
}

.ecs-summary .summary-region .region-box .region-content {
    padding: 28px 24px
}

.ecs-summary .summary-region .region-box .region-content ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.ecs-summary .summary-region .region-box .region-content ul li {
    width: 130px;
    height: 24px;
    margin-bottom: 16px;
    background-color: #f3f3f3;
    border-radius: 4px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 24px
}

.ecs-summary .summary-region .region-box .region-content ul li a {
    font-size: 100%
}

.ecs-summary .summary-region .region-box .region-content ul .last {
    margin-bottom: 0
}

.ecs-summary .summary-region .region-box .region-content .relation-line {
    width: 64px;
    height: 84px;
    margin: 10px 6px;
    background: url(images/ecs-home-relation-line.png) no-repeat 0 0
}

.ecs-summary .summary-help {
    background-color: #f4f6f8;
    padding: 8px 24px;
    line-height: 40px
}

.ecs-summary .summary-help ul {
    list-style: none;
    padding: 0
}

.ecs-summary .summary-help ul li {
    line-height: 22px
}

.ecs-summary .summary-help .line {
    margin-top: 36px;
    margin-right: 40px;
    height: 40px;
    width: 1px;
    background-color: #e6e7e8
}

.ecs-summary .summary-yundun {
    border-top: 1px solid #efefef
}

.ecs-summary .summary-yundun ul {
    list-style-type: none
}

.ecs-summary .summary-yundun .yundun-box {
    max-height: 170px;
    overflow-y: auto
}

.ecs-summary .summary-yundun .yundun-allclear {
    background-color: #f9f9fa
}

.ecs-summary .summary-yundun .yundun-allclear .security-status-icon {
    width: 79px;
    height: 66px;
    display: inline-block;
    background: url(images/home-security-status.png) no-repeat -79px 0
}

.ecs-summary .summary-yundun .yundun-allclear .text-wrap {
    position: relative;
    top: -26px;
    margin-left: 8px
}

.ecs-summary .summary-yundun .yundun-allclear .event-wrap {
    position: relative;
    top: 26px
}

.ecs-summary .summary-yundun .yundun-allclear .event-wrap span {
    vertical-align: middle
}

.ecs-popover {
    line-height: 18px;
    max-width: 480px;
    padding: 16px;
    border-radius: 2px
}

.ecs-remote-connect-guide {
    margin-left: 20px
}

.ecs-remote-connect-guide .ecs-remote-connect-guide-section {
    margin-bottom: 24px
}

.ecs-remote-connect-guide .ecs-remote-connect-guide-section .title {
    color: #333;
    font-size: 14px
}

.ecs-remote-connect-guide .ecs-remote-connect-guide-section ol {
    margin: 0;
    padding: 0;
    list-style: none
}

.ecs-remote-connect-guide .ecs-remote-connect-guide-section ol li {
    background: url(images/ecs-dialog-remote-connect-guide.png) 0 0 no-repeat;
    height: 40px;
    line-height: 24px;
    color: #666
}

.ecs-remote-connect-guide .ecs-remote-connect-guide-section ol li .order {
    color: #fff;
    padding: 0 8px;
    margin-right: 10px
}

.ecs-remote-connect-guide .ecs-remote-connect-guide-section ol li a {
    padding-left: 10px
}

.ecs-remote-connect-guide .ecs-remote-connect-guide-section ol li.last {
    height: 24px
}

.run-status i {
    width: 16px;
    height: 16px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    border-radius: 16px;
    vertical-align: middle;
    margin-top: -1px;
    background-position: 24px 24px;
    background-repeat: no-repeat;
    background-image: url(images/ecs-icons.png)
}

.run-status span.run-status-loading {
    width: 16px;
    height: 16px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: middle
}

.run-status-pending, .run-status-starting, .run-status-stopped, .run-status-shutted, .run-status-stopping, .run-status-shutting, .run-status-resetting, .run-status-changepasswd, .run-status-rollbacking, .run-status-creating, .run-status-updating, .run-status-changeos, .run-status-houyiupdating, .run-status-transfering, .run-status-unlocking {
    color: #F90
}

.run-status-pending i, .run-status-starting i, .run-status-stopped i, .run-status-shutted i, .run-status-stopping i, .run-status-shutting i, .run-status-resetting i, .run-status-changepasswd i, .run-status-rollbacking i, .run-status-creating i, .run-status-updating i, .run-status-changeos i, .run-status-houyiupdating i, .run-status-transfering i, .run-status-unlocking i {
    background-position: -61px -52px
}

.run-status-created, .run-status-running {
    color: #090
}

.run-status-created i, .run-status-running i {
    background-position: -61px -4px
}

.run-status-stopped i {
    background-position: -61px -100px
}

.run-status-startfailure, .run-status-shutfailure, .run-status-resetfailure, .run-status-expired, .run-status-createfailure, .run-status-changepasswdfailure, .run-status-rollbackfailure, .run-status-updatefailure, .run-status-changeosfailure, .run-status-expiredfailure {
    color: #F00
}

.run-status-startfailure i, .run-status-shutfailure i, .run-status-resetfailure i, .run-status-expired i, .run-status-createfailure i, .run-status-changepasswdfailure i, .run-status-rollbackfailure i, .run-status-updatefailure i, .run-status-changeosfailure i, .run-status-expiredfailure i {
    background-position: -61px -28px
}

.run-status-released, .run-status-locked {
    color: #999
}

.run-status-released i, .run-status-locked i {
    background-position: -61px -76px
}

.run-status-locked i {
    background-position: -61px -124px
}

.run-status-recent i {
    background-position: -61px -195px
}

.datepicker-readonly[readonly] {
    color: #555;
    cursor: default;
    background-color: #fff
}

.datepicker-readonly[disabled] {
    color: #999;
    cursor: not-allowed;
    background-color: #eee
}

.ico-ecs-status-running {
    background: url(images/ecs-icons.png) -61px -4px no-repeat
}

.ico-ecs-status-outdate {
    background: url(images/ecs-icons.png) -61px -28px no-repeat
}

.ico-ecs-status-stop {
    background: url(images/ecs-icons.png) -61px -52px no-repeat
}

.ico-ecs-status-lock {
    background: url(images/ecs-icons.png) -61px -76px no-repeat
}

.modal-auto-snapshot-config label {
    font-weight: normal
}

.disk-status-in_use, .disk-status-available, .disk-status-In_use, .disk-status-Available {
    color: #090
}

.disk-status-Attaching, .disk-status-Detaching, .disk-status-Creating, .disk-status-ReIniting, .disk-status-reiniting, .disk-status-attaching, .disk-status-detaching, .disk-status-creating, .disk-status-transfering, .disk-status-resetting {
    color: #F90
}

.disk-status-Deleted, .disk-status-Expired, .disk-status-released, .disk-status-expired {
    color: #F00
}

.task-status-200 {
    color: #090
}

.task-status-processing {
    color: #F90
}

.task-status-error {
    color: #F00
}

.task-status-error i {
    background-position: -61px -28px
}

.breakall {
    word-break: break-all;
    word-wrap: break-word
}

.console-mount-location {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    position: relative
}

.console-mount-location input {
    background-color: #fff !important;
    cursor: pointer !important
}

.console-mount-location .form-control {
    width: auto;
    float: left;
    text-indent: -16px;
    height: 30px
}

.console-mount-location .console-mount-location-list {
    position: absolute;
    top: 30px;
    z-index: 1;
    background-color: #fff
}

.console-mount-location .console-mount-location-list ul {
    list-style-type: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0;
    margin: 0;
    width: 111px
}

.console-mount-location .console-mount-location-list ul li {
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 22px;
    height: 22px;
    text-align: center;
    cursor: pointer;
    line-height: 22px
}

.console-mount-location .console-mount-location-list ul li.disabled {
    background-color: #bbb;
    color: #999;
    cursor: not-allowed
}

.console-mount-location .console-mount-location-list ul li.disabled:hover {
    background-color: #bbb
}

.console-mount-location .console-mount-location-list ul li:hover {
    background-color: #eee
}

.console-mount-location .console-mount-location-action {
    width: 14px;
    height: 28px;
    float: left;
    margin-left: -16px;
    border-left: 1px solid #E3E3E3;
    margin-top: 1px;
    background-color: #fff
}

.console-mount-location .console-mount-location-action button {
    width: 14px;
    height: 30px;
    overflow: hidden;
    line-height: 16px;
    font-size: 12px;
    border: 0px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    display: block;
    color: #999;
    text-align: center;
    outline: 0px
}

.console-mount-location .console-mount-location-action button:hover {
    color: #06C
}

.console-mount-location .console-mount-location-action button[disabled] {
    color: #999
}

.console-mount-location .console-mount-location-action .console-mount-location-down {
    border-top: 1px solid #E3E3E3
}

.ecs-cd-detail {
    border: 1px solid #DDD;
    background-color: #F7F7F7
}

.ecs-cd-detail td {
    line-height: 24px;
    padding: 10px 16px
}

.ecs-cd-detail td p {
    padding: 4px 0px;
    margin: 0px
}

.ecs-cd-detail td p label {
    margin: 0px
}

.ecs-cd-detail .cd-detail-col {
    width: 26%;
    vertical-align: top
}

.ecs-cd-detail .cd-detail-col label {
    font-weight: normal
}

.ecs-cd-detail .cd-detail-dotline {
    border-top: 2px dotted #ccc
}

.ecs-cd-detail .cd-detail-action {
    width: 6%;
    border-left: 2px solid #EEE;
    padding-left: 16px
}

.ecs-cd-detail .cd-detail-action .btn {
    margin-right: 8px
}

.ecs-cd-detail .cd-detail-action a {
    margin-right: 8px
}

.relation-box {
    position: relative;
    padding-top: 20px;
    padding-right: 50px;
    min-width: 400px
}

.relation-box .sprite {
    background: url("images/ecs-disk-detail-relation.png")
}

.relation-box .disk-available {
    position: absolute;
    left: 20px;
    top: 1px;
    background: url("images/ecs-disk-detail-relation-empty.png");
    background-position: 0 0;
    width: 108px;
    height: 156px
}

.relation-box .source-box {
    height: 136px;
    padding-left: 85px
}

.relation-box .source-box .disk-info {
    font-size: 16px;
    color: #1e6e9b;
    margin-bottom: 0
}

.relation-box .source-box .soure-info {
    color: #333
}

.relation-box .disk-box {
    position: absolute;
    background-position: 0 -40px;
    width: 114px;
    height: 332px;
    left: 15px;
    top: 1px
}

.relation-box .attach-box {
    position: relative;
    border: 2px dotted #c7d9e1;
    background-color: #fafafa;
    width: 360px;
    min-height: 248px
}

.relation-box .attach-box .empty-box {
    min-height: 248px;
    padding-top: 26%;
    font-size: 18px;
    color: #cccccc
}

.relation-box .attach-box .attach-innerbox {
    padding: 18px 0 36px 24px
}

.relation-box .attach-box .attach-innerbox .icon-box {
    margin-left: 8px
}

.relation-box .attach-box .attach-innerbox .icon-box .icon-ecs {
    cursor: pointer
}

.relation-box .attach-box .attach-innerbox .icon-ecs {
    color: #44b6ec;
    font-size: 16px
}

.relation-box .attach-box .attach-innerbox .path-box {
    margin-left: 12px;
    margin-top: -35px;
    background-position: 0 -382px;
    width: 300px;
    height: 170px
}

.relation-box .attach-box .attach-innerbox .device-box {
    margin-top: -62px
}

.relation-box .attach-box .attach-innerbox .device-box .icon {
    display: inline-block
}

.relation-box .attach-box .attach-innerbox .device-box ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden
}

.relation-box .attach-box .attach-innerbox .device-box ul li {
    float: left;
    margin-right: 45px;
    cursor: pointer
}

.relation-box .attach-box .attach-innerbox .device-box ul li.last {
    margin-right: 0;
    margin-left: -6px
}

.relation-box .attach-box .attach-innerbox .device-box ul li.others {
    margin-right: 30px
}

.relation-box .attach-box .attach-innerbox .device-box ul li.device-system {
    margin-right: 115px;
    margin-left: 1px
}

.relation-box .attach-box .attach-innerbox .device-box ul li.device-system .icon {
    background-position: 0 0;
    width: 30px;
    height: 30px
}

.relation-box .attach-box .attach-innerbox .device-box ul li.device-inuse .icon {
    background-position: 0 -562px;
    width: 30px;
    height: 30px
}

.relation-box .attach-box .attach-innerbox .device-box ul li.device-available .icon {
    background-position: 0 -602px;
    width: 30px;
    height: 30px
}

.relation-box .attach-box .attach-innerbox .device-box .device-current {
    margin-left: 74px;
    padding-top: 22px
}

.relation-box .attach-box .attach-innerbox .device-box .device-current .icon {
    background-position: 0 -642px;
    width: 30px;
    height: 30px
}

.relation-box .attach-box .attach-innerbox .device-box .device-current .attach-info {
    margin-left: 8px
}

.relation-box .attach-box .attach-innerbox .device-box .device-current .attach-info .device-info {
    color: #1e6e9b
}

.relation-box .attach-box .attach-innerbox .device-box .device-current .attach-info p {
    margin-bottom: 0
}

.attch-err-box {
    line-height: 24px;
    text-indent: 8px
}

.disk-info-box {
    position: relative;
    border: 2px dotted #ccc;
    padding: 26px 10px 18px;
    margin-bottom: 16px
}

.disk-info-box .info-title {
    position: absolute;
    left: 20px;
    top: -20px;
    padding: 0 10px;
    background-color: #fff
}

.disk-info-box .info-title h5 {
    font-weight: normal
}

.disk-info-box .form-group {
    margin: 2px auto
}

.disk-info-box .form-group .btns-group .btn {
    padding-left: 0;
    padding-right: 4px
}

.releasedisk-box .system-box, .releasedisk-box .data-box, .releasedisk-box .ps {
    padding: 8px 24px
}

.releasedisk-box .system-box .alert, .releasedisk-box .data-box .alert, .releasedisk-box .ps .alert {
    margin-top: 8px
}

.releasedisk-box .system-box .alert dl, .releasedisk-box .data-box .alert dl, .releasedisk-box .ps .alert dl {
    margin-bottom: 0px
}

.releasedisk-box .system-box .alert dl dt, .releasedisk-box .data-box .alert dl dt, .releasedisk-box .ps .alert dl dt {
    float: left
}

.releasedisk-box .system-box .alert dl dd, .releasedisk-box .data-box .alert dl dd, .releasedisk-box .ps .alert dl dd {
    padding-left: 3em
}

.releasedisk-box .dotline {
    border-top: 2px dotted #ccc;
    margin: 8px 0
}

.mountSection {
    background-color: #f9f9f9;
    margin-bottom: 2px;
    padding: 4px 0
}

.mountSection .select-title {
    float: left;
    line-height: 32px
}

.mountSection .select-body {
    float: left;
    width: 50px
}

.ecs-icon-info-2 {
    color: #2385d6
}

.ecs-action-td .btn-link {
    padding-left: 0;
    padding-right: 0
}

.disk-list-icon {
    font-size: 32px;
    color: #1e6e9b;
    vertical-align: middle
}

.password-form .form-group {
    margin-bottom: 6px
}

.password-form .form-group .help-block {
    margin-bottom: 0
}

.ecs-chart-wapper {
    border: 1px solid #D7DEE5;
    background-color: #FFF;
    box-shadow: 0px 1px 1px #DDD
}

.ecs-chart-wapper h5 {
    text-indent: 12px
}

.quick-links .popover {
    max-width: 300px
}

.selected-item-count {
    background-color: #F3F3F3;
    margin-top: 4px;
    font-size: 14px;
    display: inline-block;
    width: 20px;
    border-radius: .5em;
    text-align: center
}

.table-viewer-dropdown {
    cursor: pointer
}

.confirm-item-block {
    padding-left: 0;
    list-style: none
}

.confirm-item-block .confirm-item {
    float: left;
    width: 90px;
    margin-right: 10px;
    margin-bottom: 10px
}

.batch-action-list {
    list-style: none;
    padding: 0px;
    margin: 8px 0px;
    border: 1px solid #DDD;
    background-color: #FAFAFA;
    max-height: 80px;
    overflow-y: auto
}

.batch-action-list li {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #EEE;
    text-indent: 12px
}

.console-navbar .console-navbar-links {
    margin-top: 10px;
    padding: 0 15px 0;
    line-height: 24px
}

.ecs-monitor-panel {
    border: 1px solid #DDD;
    padding: 4px;
    margin-bottom: 0;
    background-color: #F7F7F7;
    height: 100%
}

.ecs-monitor-panel .ecs-monitor-panel-header .ecs-monitor-panel-title {
    float: left
}

.ecs-monitor-panel .ecs-monitor-panel-header .ecs-monitor-panel-close {
    float: right;
    width: 16px;
    height: 16px
}

.ecs-monitor-panel .ecs-monitor-panel-body {
    padding-right: 10px;
    background-color: #fff
}

.ecs-monitor-panel .ecs-monitor-panel-body .periods-toolbar {
    margin-bottom: 8px
}

.ecs-monitor-panel .ecs-monitor-panel-body .periods-toolbar .periods-btns .btn {
    min-width: 50px
}

.ecs-monitor-panel .ecs-monitor-panel-body .chart-body {
    padding-bottom: 8px
}

.ecs-monitor-panel .ecs-monitor-panel-body .chart-body .ecs-chart-container {
    height: 260px
}

.cursor-pointer {
    cursor: pointer
}

.console-table-wapper {
    position: relative
}

.list-tool-bar {
    position: absolute;
    top: 4px;
    right: 0
}

.list-tool-bar .list-tool-bar-button {
    padding: 8px
}

.list-user-preferences-uint {
    display: inline-block;
    min-width: 138px;
    padding: 8px 6px
}

.table-viewer-header .table-viewer-topbar-content {
    margin-right: 4px
}

.ecs-detail-relation-box {
    position: relative;
    background-color: #f8f9fb;
    height: 192px;
    margin-top: 10px
}

.ecs-detail-relation-box .ecs-detail-relation-item {
    position: absolute
}

.ecs-detail-relation-box .ecs-detail-relation-computer {
    top: 38%;
    left: 45%;
    background: url("images/ecs-relation-computer.png") 0 0 no-repeat;
    width: 48px;
    height: 46px
}

.ecs-detail-relation-box .ecs-detail-relation-leftline {
    top: 45%;
    left: 38%;
    background: url("images/ecs-relation-leftline.png") 0 0 no-repeat;
    width: 20px;
    height: 7px
}

.ecs-detail-relation-box .ecs-detail-relation-rightline {
    top: 28%;
    left: 55%;
    background: url("images/ecs-relation-rightline.png") 0 0 no-repeat;
    width: 32px;
    height: 72px
}

.ecs-detail-relation-box .ecs-detail-relation-disk {
    top: 25%;
    left: 62%
}

.ecs-detail-relation-box .ecs-detail-relation-snapshot {
    top: 42%;
    left: 62%
}

.ecs-detail-relation-box .ecs-detail-relation-image {
    top: 60%;
    left: 62%
}

.ecs-detail-relation-box .ecs-detail-relation-network {
    top: 42%;
    left: 21%
}

.ecs-detail-relation-box .ecs-detail-relation-yundun {
    top: 22%;
    left: 48%
}

.ecs-detail-relation-box .ecs-detail-relation-status {
    top: 74%;
    left: 42%
}

.time-range-section input {
    color: #000 !important
}

.ecs-big-size-dialog .modal-dialog {
    width: 750px
}

.ecs-big-size-dialog .modal-dialog .selector-item {
    white-space: normal !important
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .ecs-selector {
    width: 310px
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .ecs-selector-result {
    width: 310px
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .right-selector {
    height: 252px
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .title {
    border-left: 1px solid #e1e6eb;
    border-right: 1px solid #e1e6eb;
    border-top: 1px solid #e1e6eb;
    background-color: #F5F6FA;
    padding-left: 5px;
    line-height: 30px
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .search {
    position: relative
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .search .icon-search {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 12px
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .search input {
    width: 100%;
    height: 32px
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .search-hidden {
    height: 240px
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector {
    border: 1px solid #e1e6eb;
    height: 240px
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .left-selector {
    height: 220px
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .right-selector {
    height: 250px
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .btn {
    display: block;
    margin: 12px 24px
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector-group-options {
    vertical-align: middle;
    margin-top: 100px
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector-list .line-head {
    line-height: 12px;
    margin-bottom: 8px;
    color: #000
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector-list .line-bottom {
    line-height: 12px;
    color: #999
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector-list .line-column-left {
    display: inline-block
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector-list .line-column-right {
    display: inline-block;
    float: right;
    color: #000
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector-list .line-yellow-text {
    color: #ff6600
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector-list .selector-item {
    height: auto;
    line-height: normal;
    padding: 10px;
    text-indent: 0
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector-list .selector-item:hover {
    background: #f9f9f9
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector-list .selector-item.active {
    color: #fff;
    background: #0099cb
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector-list .selector-item.active .line-head {
    color: #fff
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector-list .selector-item.active .line-bottom {
    color: #fff
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector-list .selector-item.active .line-yellow-text {
    color: #fff
}

.ecs-big-size-dialog .modal-dialog .ecs-shuttle .selector-list .selector-item.active .line-column-right {
    color: #fff
}

.ecs-big-size-dialog .title-column-left {
    display: inline-block;
    padding: 5px
}

.ecs-big-size-dialog .title-column-right {
    display: inline-block;
    float: right;
    padding: 5px 20px;
    border-left: 1px solid #e1e6eb
}

.set-auto-snapshot-policy .modal-dialog .ecs-shuttle .left-selector {
    height: 250px
}

.dialog-size-bg .modal-dialog {
    width: 900px
}

.dialog-size-bg .modal-dialog .need-scroll {
    height: 310px;
    overflow-y: auto
}

.vm-change-guide-dialog .change-tip {
    padding-top: 8px;
    padding-bottom: 16px
}

.vm-change-guide-dialog .change-option .change-option-radio {
    width: 24px;
    float: left
}

.vm-change-guide-dialog .change-option .change-option-text {
    width: 520px;
    float: left
}

.vm-change-guide-dialog .change-option .change-option-text label {
    font-weight: normal
}

.vm-change-guide-dialog .change-option .change-option-text label p {
    color: #888;
    line-height: 18px
}

.vm-change-guide-dialog .change-forbid .change-option .change-option-text label {
    color: #777
}

.vm-change-guide-dialog .change-forbid .change-option .change-option-text p {
    color: #AAA
}

.create-nav .create-extend {
    float: right;
    margin-top: -40px;
    line-height: 40px
}

.buy-upgrade-dialog .modal-dialog {
    width: 740px
}

.buy-upgrade-temp-bandwidth-dialog .modal-dialog {
    width: 820px
}

.batchaction-invalid-list table td {
    background: #F7F7F7;
    color: #AAA
}

.renew-batch-fee-field {
    z-index: 9;
    position: relative
}

.renew-batch-fee-field .renew-batch-fee-form {
    background: #FFF;
    border: 1px solid #BBB;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
    position: absolute;
    padding: 8px;
    margin-top: 6px
}

.renew-batch-fee-field .renew-batch-fee-form .bk-select {
    height: 32px;
    margin-bottom: 0px
}

.renew-batch-fee-field .renew-batch-fee-form .bk-select .bk-select-button {
    height: 32px;
    line-height: 32px;
    font-size: 12px
}

.renew-batch-fee-field .renew-batch-fee-form .bk-select .bk-select-button .bk-select-arrow {
    margin-top: 12px
}

.aliyun-buy-ecs-table-style-cover .bk-order-renew-wrap {
    padding: 8px 0px
}

.aliyun-buy-ecs-table-style-cover table {
    background: #FFF;
    font-size: 12px;
    border: 1px solid #e1e6eb !important
}

.aliyun-buy-ecs-table-style-cover table thead th {
    padding: 8px 8px !important;
    font-weight: normal !important;
    color: #999 !important;
    border-bottom: 1px solid #e1e6eb !important;
    background-color: #F5F6FA !important
}

.aliyun-buy-ecs-table-style-cover table tbody td {
    padding: 12px 8px !important;
    border-top: 0px !important;
    border-bottom: 1px solid #e1e6eb !important;
    vertical-align: middle !important
}

.count-link {
    padding: 4px 8px;
    background-color: #eee;
    border-radius: 4px
}

.text-black {
    color: #000
}

.gridSection .table-hover {
    min-height: 140px
}

.dropdown-menu li a {
    display: block;
    clear: both;
    font-weight: normal;
    color: #333;
    white-space: nowrap
}

.dropdown-menu .disabled a {
    color: #999
}

.dropdown-menu .disabled a:hover {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none
}
