<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="../styles/css/common/bootstrap.css"/>
    <link rel="stylesheet" href="../styles/css/common/bootstrap.diy.css"/>
    <link rel="stylesheet" href="../styles/css/common/icon.css"/>
    <link rel="stylesheet" href="../styles/css/common/type.css"/>
    <link rel="stylesheet" href="../styles/css/common/select2.css"/>
    <link rel="stylesheet" href="../styles/css/common/select2.diy.css"/>
    <link rel="stylesheet" href="../styles/css/common/angular-growl.css"/>

</head>
<body>
<div class="container">
    <h2>
        快速查询、select2 <a href="index.html" class="pull-right btn-link">返回</a>
    </h2>
    <pre>&lt;div select2="select2Option" ng-model="selectedItem" &gt;&lt;/div&gt;</pre>
    <hr/>
    <div ng-controller="DemoController as vm">

        <h2>常规</h2>
        <select select2="select2Options1" ng-model="selectedItem1" style="width: 300px;"></select>
        <h2>Ajax</h2>
        <select select2="select2Options2" ng-model="selectedItem2" style="width: 300px;"></select>
    </div>
</div>
<script src="../bower_components/requirejs/require.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular/angular-require.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-growl/build/angular-growl.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/angular-websocket/angular-websocket.js"></script>
<script src="../bower_components/angular-bindonce/bindonce.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/jquery/scrollbar/jquery.scrollbar.js"></script>
<!--<script src="../bower_components/jquery-select2/0.16.0/select.js"></script>-->
<script src="../bower_components/jquery-select2/4.0.2/select2.full.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/select2.js"></script>

</body>
</html>
