<div class="console-topbar">
    <div class="topbar-wrap topbar-clearfix">
        <div class="topbar-head topbar-left">
            <!-- logo -->
            <a href="{{navLinks.logo.href}}" class="topbar-left" ng-class="{'topbar-logo-full': !isSidebarFold,'topbar-logo':isSidebarFold}">
                <span class="icon-logo9">&nbsp;</span><span class="text" data-ng-if="!isSidebarFold">&nbsp;ipowerlong</span>
            </a>
            <!-- sider fold/unfold -->
            <a href="javascript:void(0)" class="topbar-home-link topbar-btn topbar-left" uib-tooltip-diy="收起侧栏菜单" tooltip-append-to-body="true" tooltip-placement="right" ng-click="toggleSidebarStatus()">
                <span ng-class="{'icon-unfold': !isSidebarFold,'icon-fold':isSidebarFold}"></span>
            </a>
            <!--  address book -->
            <a href="javascript:void(0)" class="topbar-home-link topbar-btn topbar-left" uib-tooltip-diy="通讯录" tooltip-append-to-body="true" tooltip-placement="right"
               ng-click="toggleBookPanelStatus()">
                <span ng-class="{'icon-account-2': true}"></span>
            </a>
            <!--  email -->
            <a href="#/mail/inbox.html" class="topbar-home-link topbar-btn topbar-left" uib-tooltip-diy="电子邮箱" tooltip-append-to-body="true" tooltip-placement="right" ng-if="navLinks.mail.show">
                <span ng-class="{'glyphicon glyphicon-envelope': true}"></span>
            </a>
        </div>
        <!--  apps -->
        <div class="topbar-nav topbar-left dropdown" uib-dropdown>
            <a href="javascript:void(0)" class="dropdown-toggle topbar-btn topbar-nav-btn" uib-dropdown-toggle data-toggle="dropdown" uib-tooltip-diy="应用服务 " tooltip-append-to-body="true"
               tooltip-placement="right">
                <span class="glyphicon glyphicon-th"></span>
            </a>
            <div class="dropdown-menu topbar-nav-list topbar-clearfix">
                <div data-ng-repeat="col in categories" class="topbar-nav-col">
                    <div ng-repeat="category in col" class="topbar-nav-item"><p class="topbar-nav-item-title">{{category.name}}</p>
                        <ul>
                            <li ng-repeat="product in category.products" ng-class="{'topbar-unservice':!product.openStatus}">
                                <a ng-href="{{product.link}}" target="_self">
                                    <span class="topbar-nav-item-icon {{product.icon}}"></span>
                                    <span>{{product.name}}</span>
                                    <span class="topbar-nav-item-short">{{product.shortName}}</span>
                                </a>
                            </li>
                        </ul>
                        <div class="topbar-nav-gap" ng-if="$index == 0"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="topbar-info topbar-right topbar-clearfix">
            <!-- 搜索 -->
            <div topbar-search search-url="{{navLinks.search.href}}" search-link="navLinks.search" class="topbar-btn topbar-btn-search topbar-left" ng-show="navLinks.search.show"></div>
            <!-- 站内信 -->
            <div class="dropdown topbar-notice topbar-btn topbar-left" uib-dropdown data-ng-if="messages && messages.total >=0 && navLinks.message.show">
                <a href="#" class="topbar-btn-notice" uib-dropdown-toggle data-toggle="dropdown">
                    <span class="topbar-btn-notice-icon icon-bell"></span>
                    <span class="topbar-btn-notice-num" ng-class="{'topbar-btn-notice-num-zero':messages.total == 0}" ng-bind="messages.total"></span>
                </a>

                <div class="topbar-notice-panel">
                    <div class="topbar-notice-arrow"></div>
                    <div class="topbar-notice-head"><span>{{navLinks.message.title}}</span></div>
                    <div class="topbar-notice-body">
                        <ul ng-if="messages && messages.messageList.length >0">
                            <li ng-repeat="item in messages.messageList" ng-class="{'topbar-notice-readed':item.readed}">
                                <a ng-href="{{navLinks.message.messageUrl + item.msgId}}" target="_self" class="clearfix" ng-click="readMessage(item)">
                                    <span class="inline-block">
                                        <span class="topbar-notice-link" ng-bind="item.title"></span>
                                        <span class="topbar-notice-time" ng-bind="item.formatCreatedTime"></span>
                                    </span>
                                    <span class="inline-block topbar-notice-class" ng-if="item.className">
                                        <span class="topbar-notice-class-name">{{item.className}}</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p ng-if="!messages ||  messages.messageList.length == 0" class="topbar-notice-empty">{{navLinks.message.blankText}}</p>
                    </div>
                    <div class="topbar-notice-foot">
                        <a class="topbar-notice-more" target="_self" ng-href="{{navLinks.message.href}}">{{navLinks.message.text}}</a>
                    </div>
                </div>
            </div>
            <!-- 网批 -->
            <div class="topbar-left topbar-workorder topbar-info-item" ng-if="navLinks.workorder.show">
                <div class="dropdown" uib-dropdown>
                    <a href="#" class="topbar-btn" uib-dropdown-toggle data-toggle="dropdown">
                        <span ng-bind="navLinks.workorder.text"></span>
                        <span ng-if="navLinks.workorder.showNew" class="topbar-new-icon icon-new"></span>
                        <span class="icon-arrow-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="link in navLinks.workorder.links" class="topbar-info-btn">
                            <a href="{{link.href}}" target="{{link.target}}">
                                <span>{{link.text}}</span>
                                <span ng-if="link.showNew" class="topbar-new-icon icon-new"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 旧版帮助 -->
            <!--<div class="topbar-left topbar-help topbar-info-item" ng-if="navLinks.help.show">
                <div class="dropdown" uib-dropdown>
                    <a href="#" class="topbar-btn" uib-dropdown-toggle data-toggle="dropdown">
                        <span ng-bind="navLinks.help.text"></span>
                        <span ng-if="navLinks.help.showNew" class="topbar-new-icon icon-new"></span>
                        <span class="icon-arrow-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="link in navLinks.help.links" class="topbar-info-btn">
                            <a href="{{link.href}}" target="{{link.target}}">
                                <span>{{link.text}}</span>
                                <span ng-if="link.showNew" class="topbar-new-icon icon-new"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>-->
            <!-- 帮助文档 -->
            <div class="topbar-left topbar-assist topbar-info-item" ng-if="navLinks.help.show">
                <a href="javascript:void(0)" class="topbar-btn" ng-class="{'topbar-btn-dark':showHelpPanel}" ng-click="toggleHelpPanelStatus()">
                    {{navLinks.help.text}}
                    <!--<span ng-if="navLinks.assist.showNew" class="topbar-new-icon icon-new"></span>-->
                    <span class="icon-arrow-down"></span>
                </a>
            </div>
            <!-- user -->
            <div class="topbar-left" ng-if="navLinks.user.show">
                <div class="dropdown topbar-info-item" uib-dropdown>
                    <a href="javascript:void(0)" class="topbar-btn" uib-dropdown-toggle data-toggle="dropdown">
                        <span ng-bind="account.id" title="account.origin"></span>
                        <span class="icon-arrow-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="link in navLinks.user.links" class="topbar-info-btn">
                            <a href="{{link.href}}" target="{{link.target || '_blank'}}">
                                <span>{{link.text}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!-- 国际化 -->
            <div class="topbar-left" ng-if="navLinks.i18n.show && navLinks.i18n.currentLanguage">
                <div class="dropdown topbar-info-item" uib-dropdown>
                    <a href="{{navLinks.i18n.currentLanguage.link}}" class="topbar-btn" data-toggle="dropdown" uib-dropdown-toggle>
                        {{navLinks.i18n.currentLanguage.label}}
                        <span class="icon-arrow-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="language in navLinks.i18n.languages" class="topbar-info-btn">
                            <a ng-click="changeCurrentLanguage(language.link)">
                                <span>{{language.label}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div topbar-help config="helpConfig" show="topbarConfig.showHelpPanel" ng-if="navLinks.help.show && helpConfig"></div>
        <div topbar-book ng-if="topbarBook.showPanel" show="topbarBook.showPanel" is-sidebar-fold="isSidebarFold"></div>
        <!--<div topbar-book is-sidebar-fold="isSidebarFold"></div>-->
    </div>
</div>
